.env
__pycache__/
temp_audio/
appTwilio_Backup.py
appTwilio copy.py
MyCurrentLib.txt
subscribers.json
appTwilio.py
last_sent.txt
malaria1.png
malaria2.png
twilioUpdate.Bpy
MalariaPHIS_Agent.zip
MalariaPHIS_Agent_Backup.py